body{
    background-color: #4BCAF9;
}
.toy{
    width: 49%;
}
.cloud{
    width: 20%;
    margin-left: 6%;
}
.cloud2{
    width: 20%;
    margin-right: 4%;
}
.cloudnav{
    width: 24%;
}
.board1{
    background-color: #F7941D;
}
.board2{
    background-color: #F7B542;
}